<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>История запросов</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}" />
</head>
<body>
  <div class="history-container">
    <h1>История запросов:</h1>
    <table>
      <thead>
        <tr>
          <th>Загруженный файл</th>
          <th>Обработанный файл</th>
          <th>Результаты обработки</th>
        </tr>
      </thead>
      <tbody>
      {% for record in records %}
      <tr>
          <td>
              {% if record.file_type == 'photo' %}
              <img src="{{ url_for('uploaded_file', filename=record.filename) }}" alt="{{ record.filename }}" width="200">
              {% else %}
              {{ record.filename }}
              {% endif %}
          </td>
          <td>
              {% if record.file_type == 'photo' %}
              <img src="{{ url_for('static', filename=record.filepath.split('/')[-1]) }}" alt="Обработано" width="200">
              {% else %}
              {{ record.filename }}
              {% endif %}
          </td>
        <td>
          Обработка: {{ record.processing_time }} сек.<br/>
          {% if record.file_type == 'photo' and record.people_count is not none %}
          Найдено людей: {{ record.people_count }}<br/>
          {% endif %}
          Загружено: {{ record.upload_time.strftime("%d.%m.%Y %H:%M:%S") }}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('upload_file') }}" class="back-button">Вернуться на главную страницу</a>
  </div>
</body>
</html>
